# Python cache & virtual env
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Database và file runtime
games.db

# VSCode
.vscode/

# Logs và tạm
*.log
*.tmp

# Render hoặc build output
*.sqlite3
*.db-journal
